body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  width: 800px;
  height: 500px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.side-panel {
  width: 200px;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.quiz-container {
  flex-grow: 1;
  padding: 20px;
}

h2 {
  margin-top: 0;
}

#options button {
  display: block;
  margin: 10px 0;
  padding: 10px;
  background-color: blue;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 100%;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.game-over {
  text-align: center;
  padding: 20px;
}

.game-over-text {
  font-size: 24px;
  margin-bottom: 20px;
}

.restart-button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}
